@*选课提示框*@

@{
    ViewBag.Title = "selectCourse";
}

<h2>选课</h2>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"></div>
            <div class="modal-body">
                @ViewBag.info
            </div>
        </div>
    </div>
</div>
