@model IEnumerable<WebApplication3.Models.tb_payment>

@{
    ViewBag.Title = "Index";
}

<h2>已缴费学生名单</h2>

<table class="layui-table">
    <thead>
        <tr>
            <th>
                学号
            </th>
            <th>姓名</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tb_student.StudentNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tb_student.StudentName)
                </td>
                <td>
                    <a href="@Url.Action("Delete",new { id = item.Id })" class="layui-btn layui-btn-danger layui-btn-sm"><i class="layui-icon">&#xe640;</i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
